/* CSS declarations go here */
.poll-options {
  padding: 5px;
}

.vote-option {
  background: #0c3f44;
  color: white;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  padding-left: 10px;
}

.click-to-vote {
  background: #085380;
  height: 26px;
  width: 26px;

}

.home-div {
  margin-left: 100px;
  margin-top: 100px;
}

.slice path {
  stroke: #fff;
}

.display-poll {
  float: left;
  width: 50%
}

#_svg {
  float: left;
  margin-left: 100px;
}

.option-text {
  color: white;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2px;
}